/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

#our-banner {
	background-image: url(../assets/beacon_promo_wide.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 442px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	background: rgba(0, 0, 0, 0)
}

  